
<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="col-sm-10 col-md-10 col-lg-10">
<table class="table table-striped">
  <thead>
    <tr>
      <th>_ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Birthday</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat= "friend in friends | filter:searchTerm | orderBy:'birthday' ">
      <td>{{friend._id}}</td>
      <td>{{friend.first_name}}</td>
      <td>{{friend.last_name}}</td>
      <td>{{friend.birthday | amDateFormat: 'YYYY-MM-DD' }}</td>
      <td ng-click="show(friend._id)">Show</td>
      <td ng-click="update(friend._id)">Edit</td>
      <td ng-click="delete(friend._id)">Delete</td>
    </tr>
</tbody>
</table>
<label for="searchDate">Search</label><br/>
<input type="search" name="searchDate" ng-model="searchTerm"></input>
<br/>
<hr/>
<a ng-href = '#!/new'>
  <button>
    CREATE FRIEND
  </button>
</a>
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
