
<div class="row">
   <div class="col-sm-1 col-md-1 col-lg-1"></div>
   <div class="col-sm-10 col-md-10 col-lg-10">
      <form>
         <label for="first_name">First Name</label>
         <input type="text" name="first_name" ng-model = 'nC.friend.first_name'><br/>
         <label for="first_name">Last Name</label>
         <input type="text" name="last_name" ng-model = 'nC.friend.last_name'><br/>
         <label for="first_name">Birthday</label>
         <input type="date" name="birthday" ng-model = 'nC.friend.birthday'><br/>
         <input type="submit" value = 'Add Friend' ng-click = "nC.addFriend()"><br/>
      </form>
   </div>
   <div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
